*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0px;
}
.carrossel{
    box-shadow: 2px 2px 4px color black;
    overflow: hidden;
    height: 500px;
    width: 500px;
}
.container{
    display: flex;
    transition: 0.5s ease-in-out;
    transform: translateX(0);
}
img{
    object-fit: cover;
    height: 500px;
    width: 500px;
}